
### Gradle template
.gradle
/build/

# Ignore Gradle GUI config
gradle-app.setting

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar

# Cache of project
.gradletasknamecache

# WPILib
bin/
build/
dist/
sysProps.xml
workbench.xmi

# IDE
*.ipr
*.iml
*.iws
out/
tmp/
.settings/
.loadpath
.project
/.idea
.classpath

# Toast/GradleRIO
run/
.gradle/
gradle/.launch/

# OS Files
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.AppleDouble
.LSOverride
.Trashes
ehthumbs.db
Thumbs.db

# backup files
*~

# directory for XML generated after running junit tests through ant
junit/


#Without sub gitignores:
Robot/Code/.gradle/

#With sub gitignores
.gradle/